@model EndPoint.Site.ViewModels.RegisterViewModel

@{ 
    Layout = null;
}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">
    <!-- Bootstrap 4.5.3 -->
    <link rel="stylesheet" href="~/Theme/assets/bootstrap/css/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/jquery.classycountdown.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/nouislider.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/swiper.min.css">
    <!-- CSS Template -->
    <link rel="stylesheet" href="~/Theme/assets/css/theme.css">
    <!-- Here goes your custom.css -->
    <link rel="stylesheet" href="~/Theme/assets/css/custom.css">
    <!-- colors: amber,blue,brown,cyan,default,green,indigo,orange,pink,purple,red,teal,yellow -->
    <link rel="stylesheet" href="~/Theme/assets/css/colors/default.css" id="colorswitch">
</head>

<body>

    <div class="page-wrapper auth-page-wrapper">

        <!-- Page Content -->
        <main class="page-content">
            <div class="container">
                <div class="auth-wrapper">
                    <div class="auth-form shadow-around">
                        <div class="site-logo">
                            <h3 class="text-danger">رستورانت</h3>
                        </div>
                        <div class="auth-form-title">
                            ثبت نام
                        </div> 
                        <form asp-action="Register">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">نام</label>
                                <div class="form-element-with-icon">
                                    <input type="text" class="input-element" id="Name" asp-for="FristName">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <span asp-validation-for="FristName" class="text-danger"></span>
                            </div>

                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">نام خانوادگی</label>
                                <div class="form-element-with-icon">
                                    <input type="text" class="input-element" id="Family" asp-for="LastName">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">ایمیل</label>
                                <div class="form-element-with-icon">
                                    <input type="text" class="input-element" id="phone-number" asp-for="Email">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>

                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">شماره موبایل</label>
                                <div class="form-element-with-icon">
                                    <input type="text" class="input-element" id="phone-number" asp-for="PhoneNumber">
                                    <i class="fad fa-mobile-alt"></i>
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-element-row">
                                <label for="password" class="label-element">کلمه عبور</label>
                                <div class="form-element-with-icon">
                                    <input type="password" class="input-element" id="password" asp-for="Password">
                                    <i class="fad fa-key-skeleton"></i>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">تکرار کلمه عبور</label>
                                <div class="form-element-with-icon">
                                    <input type="password" class="input-element" id="Repassword" asp-for="RePassword">
                                    <i class="fad fa-key-skeleton"></i>
                                </div>
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <div class="form-element-row text-left">
                                <button class="btn-element btn-success-element" type="submit">
                                    <i class="fad fa-user-edit"></i>
                                    ثبت نام
                                </button>
                            </div>

                        </form>
                        <div class="auth-form-footer">
                            <span>قبلا ثبت‌نام کرده‌اید؟</span>
                            <a href="#" class="link--with-border-bottom">وارد شوید</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end Page Content -->
        <!-- Page mini-Footer -->
        <footer class="mini-footer">
            <div class="container main-container">
                <div class="row">
                    <div class="col-12">
                        <ul class="mini-footer-menu">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="footer-light-text">
                            استفاده از مطالب فروشگاه اینترنتی رستورانت فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است..
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            © All rights reserved. Designed by BahramiiiRad
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Page mini-Footer -->

    </div>



    <!-- JS Global Compulsory -->
    <script src="~/Theme/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Theme/assets/js/plugins/popper.min.js"></script>
    <script src="~/Theme/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/Theme/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.ez-plus.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.knob.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.throttle.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.classycountdown.min.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.nicescroll.min.js"></script>
    <script src="~/Theme/assets/js/plugins/nouislider.min.js"></script>
    <script src="~/Theme/assets/js/plugins/select2.full.min.js"></script>
    <script src="~/Theme/assets/js/plugins/swiper.min.js"></script>
    <script src="~/Theme/assets/js/plugins/ResizeSensor.min.js"></script>
    <script src="~/Theme/assets/js/plugins/theia-sticky-sidebar.min.js"></script>
    <script src="~/Theme/assets/js/plugins/wNumb.js"></script>
    <!-- JS Template -->
    <script src="~/Theme/assets/js/theme.js"></script>
    <!-- Here goes your custom.js -->
    <script src="~/Theme/assets/js/custom.js"></script>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}