@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-controller="Basket"  asp-action="ShowBasketItem">
    <i class="fas fa-cart-arrow-down   p-5  m-5"></i>
</a>
