@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="transform: none;">
    <div class="row mb-5" style="transform: none;">
        <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                <div class="sidebar-widget">
                    <div class="banner mb-3">
                        <a href="#">
                            <img src="~/Theme/assets/images/banner/banner-profile-sidebar.jpg" class="box-shaow-unset has-border" alt="...">
                        </a>
                    </div>
                    <div class="profile-sidebar shadow-around">
                        <div class="d-flex align-items-center">
                            <div class="profile-info">
                                <div class="d-block">
                                    <h6><strong>نام کاربری</strong></h6>
                                </div>
                                <div class="d-block">
                                    <strong class="text-muted">09121234567</strong>
                                </div>
                            </div>
                        </div>
                        <div class="user-menu">
                            <ul>
                                <li>
                                    <a asp-controller="Customer" asp-action="Orders">
                                        <i class="far fa-clipboard-list-check"></i>
                                        سفارش های من
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Address" asp-action="Index">
                                        <i class="far fa-map-marked"></i>
                                        نشانی ها
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="far fa-user-cog"></i>
                                        اطلاعات حساب
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-sign-in-alt"></i>
                                        خروج
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 347px; height: 598px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="section-title mb-2">
                @ViewData["Title"]
            </div>
            @RenderBody()
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)