
@model  IEnumerable<Application.Categories.DTO.ListCategoryDataModel>


<ul>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <li>

                <a asp-controller="Category" asp-action="Index" asp-route-parentId=@item.Id><i class="fad fa-seedling text-warning"></i>@item.Name</a>
            </li>
        }
    }

    <li>
        <a asp-controller="Basket" asp-action="ShowBasketItem" class=" justify-content-center  text-white border-info bg-warning">

            ادامه خرید
        </a>
    </li>


</ul>