@model bool ;
@{
    ViewData["Title"] = "نتیجه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ResultPay)
{

    <div class="checkout-message">
        <div class="checkout-message-success mb-3">
            <div class="icon-message success-icon">
                <i class="fas fa-check"></i>
            </div>
            سفارش <span class="order-code">@ViewBag.OrderCode</span> با موفقیت پرداخت و ثبت گردید.
        </div>
        <div class="text-center text-muted">
            <p class="mb-4">
                پرداخت با موفقیت انجام شد. سفارش شما با موفقیت ثبت شد و در
                زمان تعیین&zwnj;شده برای شما ارسال خواهد شد. از اینکه ما را برای خرید انتخاب کردید از
                شما سپاسگزاریم.
            </p>
        </div>
    </div>
}

else
{

    <div class="checkout-message">
        <div class="checkout-message-failed mb-3">
            <div class="icon-message failed-icon">
                <i class="fas fa-times"></i>
            </div>
            سفارش <span class="order-code">@ViewBag.OrderCode</span> ثبت شد اما پرداخت ناموفق بود.
        </div>
        <div class="text-center text-muted">
            <p class="mb-1">
                برای جلوگیری از لغو سیستمی سفارش، تا ۱ ساعت آینده پرداخت را انجام دهید.
            </p>
            <p class="text-sm">
                چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما
                باز خواهد گشت.
            </p>
        </div>
    </div>
}